*{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h1{
  margin: 35px;
}

#containerPrincipal{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#navegacion{
  margin: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: #06859A;
  gap: 50px;
} 

#navegacion a{
  text-decoration: none;
  color: white;
  font-size: 22px;
}

#botonInicio{
  height: 100%;
  background-color: transparent;
  border: none;
}

img{
  width: 50px;
}

#botonesNavegacion{
  display: flex;
  align-items: right;
  gap: 50px;
}

.botonNavbar{
  background-color: transparent;
  border: none;
}

.botonNavbar img{
  width: 40px;
}

/* carpeta */

#container_p_ado{
  width: 100%;
  height: calc(100vh - 40px);
  display: flex;
  justify-content: center;
  align-items: center;
}

#card{
  width: 80%;
  height: 80%;
  display: flex;
}

#card_pes{
  height: min-content;
  border-radius: 20px 0px 0px 20px;
  background-color: #06859A;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
  color: white;
}

#card_pes h2{
  padding: 10px;
  writing-mode: vertical-lr;
  text-orientation: upright;
}

#card_carp{
  width: 100%;
  height: 100%;
  display: flex;
  box-shadow: 4px 8px 4px 1px rgba(0, 0, 0, 0.5);
  border-radius: 0px 20px 20px 20px;
}

#card_carp_l{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#card_carp_r{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 764px){
  #botonesNavegacion{
    display: flex;
    align-items: right;
    gap: 50px;
  }
}